#neirong{
	width: 100%;
	flex:1;
	display: flex;
	flex-direction: column;
	background-image:url(../img/c583df4cdb382aff-41d90f1708ec4a72-30a7e75b2ea7271c22502b4b24838a9a.jpg);
	background-repeat: no-repeat;
}
#nrtop{
	flex:0.3;
	display: flex;
}
#nrcenter{
	flex:0.4;
	flex-direction: column;
	display: flex;
}
#nrbottom{
	flex: 0.3;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#neirong span{
	font-family: "微软雅黑";
	font-size: 22px;
	position: relative;
	color: white;
}
#nrtop img{
	width: 40%;
	height: 80%;
	position: relative;
	top:10%;
	left:30%;
}
.nrc{
	width: 80%;
	position: relative;
	left:10%;
	flex: 33%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
input{
	border-radius: 5px;
	text-indent: 2px;
	height: 39px;
	width: 198px;
	color:aqua;
}
